src/main/resources/schemat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://crd.gov.pl/wzor/2023/06/29/12648/"
           xmlns="http://crd.gov.pl/wzor/2023/06/29/12648/"
           elementFormDefault="qualified">

  <xs:element name="Faktura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Podmiot1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DaneIdentyfikacyjne">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NIP" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Fa">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="P_1" type="xs:string"/>
              <xs:element name="P_2" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
